:root {
    font-family: sans-serif;
    font-size: 0.7rem;
    --light-cyan: hsla(179, 72%, 89%, 1);
    --aero: hsla(209, 54%, 72%, 1);
    --blue-bell: hsla(249, 23%, 66%, 1);
    --razzmic-berry: hsla(306, 32%, 46%, 1);
    --granite-gray: hsla(17, 7%, 39%, 1);
}

body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--aero);
    color: white;
}

h1, h2, h3 {
    color: black;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
textarea,
select {
    border: none;
    border-radius: 6px;
}

.main > h3 {
    width: 400px;
}

.save {
    background: rgb(160, 224, 160);
}

.edit, #add-btn {
    background: rgb(207, 207, 165);
}

.removeExp {
    background:rgb(207, 153, 167)
}





.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: var(--razzmic-berry);
    height: 50px;
}

h1, h3 {
    padding: 0;
    margin: 0;
}

form, h2 {
    align-self: center;
    justify-self: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 10px;
    border: 1px solid black;
}

fieldset > div {
    display: flex;
    flex-direction: column;
}

fieldset {
    max-width: 60%;
    margin-bottom: 10px;;
}


.form-container > fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    grid-gap: 8px;
}

textarea {
    resize: none;
    overflow: auto;

}


button[type="submit"] {
    grid-column: 1;
}

#objective-container {
    grid-column: 1 / 3;
}

.objective {
    word-break: break-all;
}

.left {
}

.date-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

#work .date-container {
    grid-template-columns: none;
    gap: 5px;
}

.date-container > div {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    border-radius: 6px;
}

.submit-row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.left, .right {
    flex: 1;
}


.removeExp {
    grid-column: 1 / 3;
}

.generate-btn {
    margin: 15px;
}

.generated {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: darkgray;
    margin: 10px auto;
    border: 1px solid #888;
    max-width: 600px;
    color: black;
    border-radius: 6px;
}


.printable {
    margin: 10px 50px;
    background: white;
    height: 700px;
    padding: 5px 25px;
}

.modal-top {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 8px;
    gap: 15px;
}

button {
    padding: 5px 7px;
    border: none;
    border-radius: 6px;
}


.name {
    font-size: 2.5rem;
    padding: 0;
    margin: 25px 0 0 0;
}

.header {
    text-align: center;
}

.information {
    font-size: 1rem;
    border-bottom: solid 1px black;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.dates {
    margin-top: 10px;
    margin-bottom: 0;
}

.body-text {
    margin: 0;
}

.position-text {
    margin: 0;
    font-style: italic;
}

.bold {
    font-weight: bold;
    margin: 0;
}

@media print {
    body * {
        visibility: hidden;
    }

    .printable, .printable * {
        visibility: visible;
    }

    .printable {
        top: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    #add-btn {
        display: none;
    }
}